body{
font-family:Arial;
margin:0;
text-align:center;
}

header{
background:#222;
color:white;
padding:40px;
}

nav{
background:#444;
padding:10px;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
}

section{
padding:40px;
}

footer{
background:#222;
color:white;
padding:20px;
}

.whatsapp-button:hover{
background:#1ebe5d;
}
.whatsapp-button{
position:fixed;
bottom:20px;
right:20px;
}

.whatsapp-button img{
width:60px;
height:60px;
}
.logo{
width:360px;
display:block;
margin:auto;
margin-bottom:10px;
}
.hero{
background: linear-gradient(135deg,#0b3c5d,#1f6fa5);
color:white;
padding:60px 20px;
text-align:center;
border-radius:10px;
margin:20px;
}

.hero h1{
font-size:36px;
margin-bottom:10px;
}

.hero p{
font-size:18px;
margin-bottom:20px;
}

.btn{
background:white;
color:#0b3c5d;
border:none;
padding:12px 25px;
font-size:16px;
border-radius:25px;
cursor:pointer;
}

.btn:hover{
background:#e6e6e6;
}




